<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>新增要完成的計劃內容</h2>
    <%= simple_form_for @progress, url: project_progresses_path do |f| %>
      <div class="form-group">
        <%= f.input :deadline, as: :date, label: "完成期限日期", selected: Date.today %>
      </div>
      <div class="form-group">
        <%= f.input :description, as: :text, label: "要完成的內容" %>
      </div>
      <%=f.submit "Submit", class: "btn btn-primary", data:{disable_with: "Submitting..."}%>
    <% end %>
  </div>
</div>
