<h3 class="text-center  wowload fadeInUp">名人推荐</h3>
<p class="text-center  wowload fadeInLeft">登月計劃是我的唯一選擇</p>
<div class="row grid team  wowload fadeInUpBig">
   <div class=" col-sm-3 col-xs-6">
      <figure class="effect-chico">
         <%=image_tag("team/8.jpg", alt: "img01", class: "img-responsive")%>
         <figcaption>
            <p><b>Claire Redfield</b><br>反保護傘公司終身志工<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>
         </figcaption>
      </figure>
   </div>
   <div class=" col-sm-3 col-xs-6">
      <figure class="effect-chico">
         <%=image_tag("team/10.jpg", alt: "img01")%>
         <figcaption>
            <p><b>Michael Corleone</b><br>Corleone Inc. CEO<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>
         </figcaption>
      </figure>
   </div>
   <div class=" col-sm-3 col-xs-6">
      <figure class="effect-chico">
         <%=image_tag("team/12.jpg", alt: "img01")%>
         <figcaption>
            <p><b>Johnny Fontane</b><br>噗籠共天團主唱<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>
         </figcaption>
      </figure>
   </div>
   <div class=" col-sm-3 col-xs-6">
      <figure class="effect-chico">
         <%=image_tag("team/17.jpg", alt: "img01")%>
         <figcaption>
            <p><b>Maria Carta</b><br>知名人權律師<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>
         </figcaption>
      </figure>
   </div>
</div>
