<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>你的登月計劃(<%= @project.token %>)</h2>
    <%= render "projects/project" %>
    <%= render "reallife" %>
    <%= render "progress" %>
  </div>
</div>
