<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright @2016 Kenny on Rails
    <br>Design by <a href="http://kenny-on-rails.blogspot.tw/" target="_new">KennyChiu</a>
  </p>
</footer>
